* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background: #E5E5E5;
    text-align: center;
    font-family: 'Montserrat';
}

.block {
    display: inline-block;
    width: 1000px;
}

aside {
    float: left;
    width: 370px;
    height: 1255px;
    background-color: black;
    color: white;
    text-align: left;
}

main {
    float: right;
    width: 630px;
    height: 1255px;
    background-color: white;
    text-align: left;
    padding-left: 90px;
    padding-top: 62px;
}

.photo {
    width: 370px;
    height: 432px;
    margin-top: 42px;
}

.contacts {
    margin-top: 70px;
    margin-left: 42px;
}

.contacts h3 {
    font-weight: normal;
    font-size: 18px;
}

.contacts ul {
    margin-top: 4px;
    list-style: none;
    font-size: 14px;
}

.contacts li {
    padding-top: 12px;
}

.contacts li img {
    vertical-align: middle;
    margin-right: 20px;
}

.contacts p {
    display: inline;
    vertical-align: middle;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.contacts a:hover {
    color:#FFEA30;
}

.education {
    margin-top: 70px;
    margin-left: 42px;
}

.education h3 {
    font-weight: normal;
    font-size: 18px;
}

.education p {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 30px;
}

.education a {
    text-decoration: none;
    color: white;
}

.education a:hover {
    color:#FFEA30
}

main h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
}

.container {
    margin-top: 42px;
    padding: 0;
}

main h2{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.aboutMe p {
    margin-top: 20px;
    font-size: 14px;
}

main ul {
    margin-top: 21px;
}

main li {
    list-style: none;
}

main ul h4 {
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}

main ul p {
    display: inline;
    vertical-align: middle;
}

main li img {
    vertical-align: middle;
    margin-right: 25px;
}

main li {
    padding-bottom: 20px;
}

main li:last-child {
    padding-bottom: 0;
}

.skills {
    display: inline-block;
}

.technologies {
    float:left
}

.languages {
    float: right;
    margin-left: 135px;
}

.languages img {
    margin-right: 18px;
}

.experience p {
    margin-top: 20px;
    font-size: 14px;
}

.codeExample pre{
    font-family: consolas;
    margin-top: 35px;
    font-size: 14px;
}